# Ignorar o ambiente virtual do Python
venv/
__pycache__/

# Ignorar arquivos de ambiente com segredos (Descomente a linha abaixo para ativar)
.env

# Outros arquivos comuns do sistema operacional
.DS_Store